<div class="container bg-light">
  <h1 class="text-center mt-5 text-warning p-2"><i class="fa-solid fa-plus"></i>Add your task</h1>

  <div class="justify-content-center m-5 p-2">
    <%= form_with model: @task do |f| %>
      <div class="form-group field">
        <%= f.label :title, class: "h4" %>
        <%= f.text_field :title, class: "form-control" %>
      </div> <br>
      <div class="form-group field">
        <%= f.label :details, class: "h4" %>
        <%= f.text_field :details, class: "form-control" %>
      </div> <br>
      <div class="actions">
        <%= f.submit class: "btn btn-warning" %>
        <%= link_to "Back to list", tasks_path, :class => "btn btn-success" %>
      </div>
    <% end %>
  </div>
</div>
